@font-face {
  font-family: "Inter", sans-serif;
  src: url("/assets/fonts/Inter-Bold") format("woff2");
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("/assets/fonts/Inter-Regular.woff2") format("woff2");
}