@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;
@use "../../../styles/mixins" as *;

.task {
  width: 100%;
  border: 1px solid $gray-400;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
  background: $gray-500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  @include media("md") {
    padding: 16px;
    gap: 12px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
      width: 14px;
      height: 14px;

      @include media("md") {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__text {
    font-size: rem(13);
    line-height: 140%;
    color: $gray-100;

    @include media("md") {
      font-size: rem(14);
    }

    &--completed {
      text-decoration: line-through;
      color: $gray-300;
      opacity: 0.7;
    }
  }
}