<main class="container">
  <div class="logo-wrapper">
    <img src="/assets/images/logo.svg" alt="logo" class="logo-wrapper__img">
    <h1 class="logo-wrapper__title">Todo App</h1>
  </div>

  <div class="new-task">
    <app-input textPlaceholder="Умная мысль..." [value]="newTaskText" (enter)="addTask()"
      (valueChange)="newTaskText = $event" />
    <app-button text="Добавить" (add)="addTask()" />
  </div>

  <div class="wrapper">
    <div class="tasks-info">
      <div class="tasks-info__created">
        <p>Создано задач</p>
        <span class="tasks-info__count">{{stats().total}}</span>
      </div>
      <div class="tasks-info__done">
        <p>Закрыто</p>
        <span class="tasks-info__count">{{stats().completed}} из {{stats().total}}</span>
      </div>
    </div>

    <div class="tasks">
      @for (task of tasks(); track task.id) {
      <app-task [task]="task" (toggle)="toggleTask($event)" (delete)="deleteTask($event)" />
      }
      @if (stats().total === 0) {
      <p class="tasks__null">Нет задач. Добавьте первую!</p>
      }
    </div>
  </div>
</main>