@use "../styles/variables" as *;
@use "../styles/functions" as *;
@use "../styles/mixins" as *;

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 20px;

  @include media("md") {
    gap: 64px;
    padding: 80px 20px;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  &__img {
    width: 18px;
    height: 32px;

    @include media("md") {
      width: 22px;
      height: 36px;
    }
  }

  &__title {
    color: $blue;
    font-weight: 900;
    font-size: rem(26);

    @include media("md") {
      font-size: rem(40);
    }
  }
}

.new-task {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.tasks-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;

  @include media("md") {
    gap: 12px;
  }

  &__created,
  &__done {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    font-size: rem(11);

    @include media("md") {
      gap: 8px;
      font-size: rem(14);
    }
  }

  &__created {
    color: $blue;
  }

  &__done {
    color: $purple;
  }

  &__count {
    border-radius: 999px;
    padding: 2px 8px;
    background: $gray-400;
    color: $gray-200;
  }
}

.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media("md") {
    gap: 12px;
  }

  &__null {
    font-weight: 700;
    font-size: rem(12);
    line-height: 140%;
    text-align: center;
    color: $gray-300;
    margin-top: 16px;

    @include media("md") {
      font-size: rem(16);
      margin-top: 20px;
    }
  }
}