@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/functions" as *;

.btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px;
  border-radius: 8px;
  background: $blue-dark;

  @include media("md") {
    gap: 8px;
    padding: 16px;
  }

  &__text {
    font-weight: 700;
    font-size: rem(12);
    line-height: 140%;
    color: $gray-100;

    @include media("md") {
      font-size: rem(14);
    }
  }

  &__img {
    width: 12px;
    height: 12px;

    @include media("md") {
      width: 14px;
      height: 14px;
    }
  }
}